{% extends 'core/base_template.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ part.name }}</h4>
            </div>
            <div class="card-body">
                <img src="https://c.pxhere.com/photos/5a/99/motherboard_tech_hardware_board_chip_processor_system-713482.jpg!d" alt="picture" class="img-fluid" width="300"><br>
                Manufacturer: {{ part.manufacturer }}<br>
                SKU: {{ part.sku }}<br>
                Price: {{ part.price }}<br>
                Architecture: {{ part.architecture }}<br>
                Clock Speed: {{ part.clock_speed }}<br>
                DDR4 Compatibility: {{ part.ddr4_compatibility }}<br>
                DDR5 Compatibility: {{ part.ddr5_compatibility }}<br>
                Socket Type: {{ part.socket_type }}<br>
                Wattage Compatibility: {{ part.wattage_compatibility }}<br>
                BIOS Compatibility: {{ part.bios_compatibility }}<br>
                Chipset Compatibility: {{ part.chipset_compatibility }}<br>
            </div>
        </div>
    </div>
</div>
{% endblock %}