{% extends 'core/base_template.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ part.name }}</h4>
            </div>
            <div class="card-body">
                <img src="https://c.pxhere.com/photos/5a/99/motherboard_tech_hardware_board_chip_processor_system-713482.jpg!d" alt="picture" class="img-fluid" width="300"><br>
                Manufacturer: {{ part.manufacturer }}<br>
                SKU: {{ part.sku }}<br>
                Price: {{ part.price }}<br>
                Architecture: {{ part.architecture }}<br>
                Memory Bus: {{ part.memory_bus }}<br>
                PCIE Standard: {{ part.pcie_standard }}<br>
                Slot Size: {{ part.slot_size }}<br>
                Length in mm: {{ part.length_in_mm }}<br>
                Cooling Type: {{ part.cooling_type }}<br>
                Power Requirement: {{ part.power_requirement }}<br>
                Power Connectors: {{ part.power_connectors }}<br>
                Color: {{ part.color }}<br>
            </div>
        </div>
    </div>
</div>
{% endblock %}