{% extends 'core/base_template.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ part.name }}</h4>
            </div>
            <div class="card-body">
                <img src="https://c.pxhere.com/photos/5a/99/motherboard_tech_hardware_board_chip_processor_system-713482.jpg!d" alt="picture" class="img-fluid" width="300"><br>
                Manufacturer: {{ part.manufacturer }}<br>
                SKU: {{ part.sku }}<br>
                Price: {{ part.price }}<br>
                Socket Type: {{ part.socket_type }}<br>
                Form Factor: {{ part.form_factor }}<br>
                RAM Slots: {{ part.ram_slots }}<br>
                Supported RAM Type: {{ part.supported_ram_type }}<br>
                Chipset Compatibility: {{ part.chipset_compatibility }}<br>
                BIOS Compatibility: {{ part.bios_compatibility }}<br>
            </div>
        </div>
    </div>
</div>
{% endblock %}