{% extends 'core/base_template.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ part.name }}</h4>
            </div>
            <div class="card-body">
                <img src="https://c.pxhere.com/photos/5a/99/motherboard_tech_hardware_board_chip_processor_system-713482.jpg!d" alt="picture" class="img-fluid" width="300"><br>
                Manufacturer: {{ part.manufacturer }}<br>
                SKU: {{ part.sku }}<br>
                Price: {{ part.price }}<br>
                Size Standard: {{ part.size_standard }}<br>
                Rated Wattage: {{ part.rated_wattage }}<br>
                Certification Level: {{ part.certification_level }}<br>
                Modular: {{ part.modular }}<br>
                Efficiency Rating Percentage: {{ part.efficiency_rating_percentage }}<br>
                PCIE Connectors: {{ part.pcie_connectors }}<br>
                Length in mm: {{ part.length_in_mm }}<br>
            </div>
        </div>
    </div>
</div>
{% endblock %}