{% load custom_filters custom_tags %}
<div>
    <div class="input-container">
        <label for="id_{{ field_name }}">{{ label }}</label>
        <input type="text" name="{{ field_name }}" id="id_{{ field_name }}" list="{{ field_name }}_suggestions" placeholder=" " oninput="validateInput('id_{{ field_name }}', '{{ field_name }}_suggestions')">
        <i class="clear-icon bi bi-x-circle" onclick="clearField('id_{{ field_name }}')"></i>
        <i class="dropdown-icon bi bi-caret-down-fill"></i>
    </div>
    <datalist id="{{ field_name }}_suggestions">
        {% for item in queryset %}
        <option value="{% apply_formatter item formatter %}">{% apply_formatter item formatter %}</option>
        {% endfor %}
    </datalist>
    <div id="bubble-container"><div class="bubble" id="id_{{ field_name }}_bubble"></div></div>
</div>