{% extends 'core/base_template.html' %} 

{% block content %} 
    <p><b>This is the home page for our app!</b></p> 

    <h1>Pick My Parts</h1>
    <p>
        Pick My Parts is a powerful tool designed to help users plan and assemble a fully compatible computer build with ease. 
        Our application automatically checks for compatibility, ensuring a smooth and hassle-free computer-building process. 
        Designed for PC enthusiasts, DIY builders, and professionals, Pick My Parts provides a reliable and efficient way to plan your next computer build.
    </p>

    <p><b>🚀 Start Building Your Dream PC Today!</b></p> 
{% endblock %}
