{% extends 'core/base_template.html' %} 

{% block content %} 
    <h1>Pick My Parts</h1>

    <ul class="list-unstyled">
        <li><i class="bi bi-star-fill text-warning"></i> Powerful tool designed to help users plan and assemble a fully compatible computer build with ease.</li>
        <li><i class="bi bi-star-fill text-warning"></i> Automatically checks for compatibility, ensuring a smooth and hassle-free computer-building process.</li>
        <li><i class="bi bi-star-fill text-warning"></i> Designed for PC enthusiasts, DIY builders, and professionals, Pick My Parts provides a reliable and efficient way to plan your next computer build.</li>
    </ul>
    
    <p>
        <a href="/build" class="btn btn-primary btn-lg" role="button">
        🚀 Start Building Your Dream PC Today!
        </a>
    </p> 
{% endblock %}
